:root{
    --left-space: 48px;
}
body {
margin: 0;
padding: 0;
font-family: sans-serif;
}
 @font-face {
    font-family:"Norse Bold";
    src: url("/Assets/Norse-Bold.otf");
 }
 .content {
   min-height: 100vh;
   display: flex;
 }
 /* image*/
 .img-section {
    background-position: center center;
    background-image: url("/Assets/img/archana-reddy-t6DKqQLpafk-unsplash.jpg");
    flex: 3;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
 }
 a {
    color:white;
 }
 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-size: "Norse Bold";
    padding: 16px 0;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.4);
 }
 .banner img {
     height: 120px;
 }
 .banner h2 {
    margin: 0;
 }
 .attribution {
    font-size: 0.9rem;
 }
 /* Text Section */

 .text-section{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
.text-section > p {
   font-size: 1.4rem;
   margin-left: var(--left-space);
   font-weight: bold;
   max-width: 80%;
   margin-top: 10px;

}
.text-section p:first-child {
   margin-top: 0;
}
#create {
   margin-left: var(--left-space);
   margin-top: 32px;
   border: none;
   background: #596D48;
   padding: 12px 48px;
   border-radius: 10px;
   box-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   color: white;
   font-weight: 700;
   font-size: 1.1rem;
}
p.login {
   font-weight: 400;
   font-size: 1rem;
   margin-top: 32px;
}

.login a {
   color: #596D48;
   font-weight: bold;
   text-decoration: none;
}
form{
   width: 100%;
   border: 1px solid #f4f5f9;
   box-shadow: 0 4px 5px;
   background-color: white;
   padding: 20px 0;
   margin-top: 38px;
}

.background, .content {
   height: max(35vw, 300px);
}
.content-text{
   max-width: 620px;
   font-weight: bold;
   font-size: 1.2rem;
   padding: 0 0 0 40px;
}
.form-inputs {
   display: flex;
   flex-wrap: wrap;
   column-gap: 65px;
   max-width: 585px;
   padding: 0 0 0 40px;
}

.form-inputs > p {
   display: flex;
   flex-direction: column;
   margin: 0.6rem 0;
}
input {
   width: 240px;
   height: 30px;
   border: 1.5px solid #E5E7EB;
}